<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "script.js" defer></script>
</head>
<body>
    <h1>Nasi Lemak</h1>

    <p>Enter the keyword you want to search</p>
    <input id="keyword" type="text" name="keyword" placeholder="eg:beauty, makeup">
    <button id="submit">Submit</button>

    <p id="search"></p>
    

</body>
</html>
